.starsContainer {
  display: inline-block !important;
  margin-left: 16px !important;
}

.starContainer {
  margin-left: 16px !important;
  color: var(--color-star-babu-highlight-color, #008489) !important;
  display: inline-block !important;
  font-size: 18px !important;
  height: 18px !important;
  margin-right: 6px !important;
  width: 18px !important;
}

.star {
  height: 1em; 
  width: 1em; 
  display: block; 
  fill: currentcolor;
}